---
layout: default
---

<div id="banner">
  <img src="/images/experiment.svg" />
  <div id="bannerText">
    <h1>Diseinu askeak kultura askearen alde</h1>
    <p>Nere laborategian, egindako esperimentuak argitaratzen ditut. Esperimentu
    guztiek lizentzia askeak dituztenez, kopiatzera, aldatzera eta parte
    hartzera gonbidatzen zaitut! Guztiaren iturria <a
      href="https://gitlab.com/iunetrecet/iunetrecet.gitlab.io">hemen</a> aurkituko duzu.</p>
  </div>
</div>

{% include nav.html %}

<ul class="posts">
  {% for post in site.posts %}
  <li class="post {{ post.category }}">
    <a href="{{ post.url }}"><img src="{{ post.thumbnail }}"/></a>
    <div class="category {{ post.category }}"></div>
    <p class="date">{{ post.date | date: "%Y-%m-%d"  }}</p>
    <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  </li>
  {% endfor %}
</ul>

<script src="/js/post_filter.js" type="text/javascript" charset="utf-8"></script>
